@use '../mixins' as *;

.button {
    --btnTextColor: var(--color-light);
    @include button-reset;

    cursor: pointer;

    width: 238px;
    height: var(--button-height);
    color: var(--btnTextColor);
    border-radius: calc(var(--button-height) / 2);
    background-color: var(--color-accent);

    font-size: 16px;

    transition: all var(--transitionDuration) ease-in;
    &--secondary {
        background-color: transparent;
        border: 1px solid var(--buttonSecondaryBorderColor);
    }

    &--menu {
        --button-height: 40px;
        width: 161px;
        background-color: transparent;
        border: 1px solid var(--buttonMenuBorderColor);
        --btnTextColor: var(--text-color-secondary);

        &:hover {
            --btnTextColor: var(--color-light);
            border-color: var(--color-light);
        }

    }

    &--text {
        width: 50px;
        height: unset;
        background-color: transparent;
        border: none;
        border-radius: 0;
        --btnTextColor: var(--text-color-secondary);

        &:hover {
            --btnTextColor: var(--color-light);
        }
    }
}