.header {

    &__inner {
        padding-top: 50px;
        padding-bottom: 74px;
        display: flex;
        align-items: center;
        column-gap: 80px;

        background-color: var(--color-dark);
    }

    &__actions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        &-list {
            display: flex;
            column-gap: 36px;
            align-items: center;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
    }
}