@use '../media' as *;
@use '../utils' as *;
@use './nav-menu-link' as *;

.header {
    position: relative;
    z-index: 1;
    padding-inline: var(--headerPaddingInline);
    background-color: var(--color-dark);

    @include tablet {
        --headerContentHeight: 30px;
    }

    &__inner {
        padding-block: var(--headerPaddingBlock);
        display: flex;
        align-items: center;
        column-gap: 80px;

        @include desktop-xl {
            column-gap: 50px;
        }

        @include desktop {
            column-gap: 20px;
            --headerPaddingBlock: 30px;
        }
    }

    &__actions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

    }

    &__menu {
        &-list {
            display: flex;
            column-gap: 36px;
            align-items: center;

            @include desktop-xl {
                column-gap: 30px;
            }

            @include desktop {
                column-gap: 20px;
            }
        }

        &-link {
            @extend .nav-menu-link;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        justify-content: end;

        align-items: center;
        column-gap: 40px;

        .button{
            min-height: unset;
        }

        @include desktop-xl {
            column-gap: 30px;
        }

        @include desktop {
            column-gap: 25px;
        }

        @include mobile {
            margin-left: auto;
        }  

        &__in {
            flex-shrink: 0;
        }

        &__up {
            @include tablet {
                max-width: 120px;
            }
        }        
    }

}