@use '../media' as *;

.header {
    background-color: var(--color-dark);

    @include xxl{
        padding-inline: calc(210px - var(--container-padding-inline));
    }

    @include desktop-xl{
        padding-inline: calc(150px - var(--container-padding-inline));
    }

    @include desktop{
        padding-inline: calc(100px - var(--container-padding-inline));
    }
    
    @include tablet{
        padding-inline: calc(20px - var(--container-padding-inline));
    }
    
    &__inner {
        padding-block: 50px;
        display: flex;
        align-items: center;
        column-gap: 80px;
        
        @include desktop-xl{
            column-gap: 50px;
        }

        @include desktop{
            column-gap: 20px;
            padding-block: 30px;

        }
    }

    &__actions {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

    }

    &__menu {
        &-list {
            display: flex;
            column-gap: 36px;
            align-items: center;
            
            @include desktop-xl{
                column-gap: 30px;
            }
            
            @include desktop{
                column-gap: 20px;
            }
        }

        &-link {
            padding-bottom: 1px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom:0;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 1px;
                background-color: var(--color-light);
                transition: all var(--transitionDuration) ease-in;
            }

            &:hover, &:hover::after {
                transition: all var(--transitionDuration) ease-in;
            }
            
            &:hover{
                color: var(--color-light);
            }
            &:hover::after{
                width: 100%;
            }
            
        }

    }

}

.buttons {
    display: flex;
    justify-content: space-between;
    justify-content: end;

    align-items: center;
    column-gap: 40px;

    @include desktop-xl{
        column-gap: 30px;
    }
    
    @include desktop{
        column-gap: 25px;
    }

    @include mobile{
        margin-left: auto;
    }

    @include tablet{
        padding-inline: calc(50px - var(--container-padding-inline));
    }
    
    &__up {
        @include tablet{
            max-width: 120px;
        }
    }
}    