@use '../media' as *;
@use '../mixins' as *;

.logo {
    --logo-vector-color: var(--color-accent);
    --logo-text-color: var(--color-light);

    @include flex-center;
    
    svg {
        width: auto;
        height: var(--headerContentHeight);
    }

    &--secondary {
        --logo-vector-color: var(--text-color-secondary);
        --logo-text-color: var(--text-color-secondary);
    }
    
    &:hover {
        --logo-text-color: var(--color-accent);
        
        svg *{
            transition: all 1s ease-in;
        }
    }

}