<header class="header">
    <div class="header__inner container">
        <a class="header__logo logo"
            href="/">
            <svg class="logo-image"
                width="184"
                height="40">
                <use href="/assets/svg/sprites-logo.svg#logo"></use>
            </svg>
        </a>
        <div class="header__actions">
            <nav class="header__menu hidden-mobile"
                aria-label="main navigation menu">
                <menu class="header__menu-list"
                    aria-label="navigation links">
                    <li class="header__menu-item">
                        <a href=""
                            class="header__menu-link">Products
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href=""
                            class="header__menu-link">Pricing
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href=""
                            class="header__menu-link">FAQ
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href=""
                            class="header__menu-link">Blog
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href=""
                            class="header__menu-link">Blog
                        </a>
                    </li>
                </menu>
            </nav>
            <div class="header__buttons buttons">
                <button class="buttons__in button button--text">Sign in</button>
                <button class="buttons__up button button--menu hidden-mobile">Sign Up</button>
                {{> mobile-menu }}
            </div>
        </div>
    </div>
</header>