<aside class="mobile-menu visible-mobile">
    <label class="mobile-menu__toggler mobile-menu__toggler-open"
        for="mobileMenuToggler"
        role="button"
        aria-label="open mobile menu"></label>
    <input class="mobile-menu__burger"
        type="checkbox"
        name="mobileMenuToggler"
        id="mobileMenuToggler"
        aria-hidden="true">
    <div class="mobile-menu__content">
        <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="/"
                        class="mobile-menu__link">Products</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/"
                        class="mobile-menu__link">Pricing</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/"
                        class="mobile-menu__link">FAQ</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/"
                        class="mobile-menu__link">Blog</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/"
                        class="mobile-menu__link">Blog</a>
                </li>
            </ul>
            <label class="mobile-menu__toggler mobile-menu__toggler-close"
                for="mobileMenuToggler"
                role="button"
                aria-label="close mobile menu"></label>
        </nav>
        <div class="mobile-menu__buttons buttons">
            <button class="mobile-menu__button-up button">Sign Up</button>
        </div>
    </div>
</aside>