@use 'variables';

.container {
    max-width: calc(var(--container-width) + 2 * var(--container-padding-inline));
    padding-inline: var(--container-padding-inline);
    margin-inline: auto;
}